
.object-node {
    color: #974f0c;
}

.object-details {
    margin-top: 8px;
    font-size: 12px;
}

.object-details-value {
    padding-left: 16px;
}

.object-footer {
    margin-top: 24px;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 0px;
    text-align: right;
}

.object-full {
    text-align: left;
}

.object-box-line {
    height: 24px;
}

