.debug-title {
    font-size: 20px !important;
}

.debug-main {
    height: calc(100% - 24px);
}

.debug-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 124px);
}

.debug-columns {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.iframes-sidebar {
    text-align: center;
}

.debug-double-columns {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3;
    border-right: 2px dashed #efefef;
    overflow-y: scroll;
}

.debug-progress-title {
    margin-bottom: 12px;
}

.debug-progress {
    padding: 0 6px;
}

.debug-iframes-title {
    margin-top: 24px;
}

.debug-actions {
    height: calc(100% - 36px);
    margin-left: 6px;
}

.debug-main-area {
    height: calc(100% - 15px);
}

.debug-empty-area {
    padding-top: 10px;
}

.details-area {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.debug-ticket {
    margin-top: 12px;
}

.timeline-area {
    margin-bottom: 16px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.vis-item.vis-background.in-call {
    color: white;
    background-color: #99bcf1;
    border-color: #617eb7
}

.vis-item.vis-background.setup-call {
    color: white;
    background-color: #e7cf81;
    border-color: #a48828;
}

.canvasGraph {
    position: relative;
    background-color: #fff !important;
    width: 100%;
    height: 100%;
}

.graph {
    height: 400px;
}
