.properties-editor {
    margin-top: 80px;
}

table {
    padding: 4px;
    width: 100%;
}

th {
    text-align: left;
    color: #0c66e4;
}

tr {
    height: 24px;
}

.col-label {
    text-align: left;
    width: 150px;
}

.col-value {
    text-align: left;
}

.col-label {
    color: #5e6c84;
    font-size: 16px;
}

.property-title {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 6px;
    border-bottom: 2px solid #f5cd47;
    text-align: left;
    color: #974f0c;
}

.properties-area {
    padding: 8px;
}

.links {
    padding: 8px;
}

.col-label-accept {
    font-size: 14px;
    font-style: italic;
    color: #579efe;
}


